@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Color palette font Victorian mystery theme
$background-color-start: #013220; // Dark green, reminiscent of Victorian times
$background-color-end: #000000; // Black for the fade effect
$header-footer-color: #1a472a; // Slightly lighter green for contrast
$text-color: #e1e1e6; // Off-white for legibility
$accent-color: #c0a080; // Antique gold for accents and highlights

$background-color-page: #f8f5f1;
$font-family-page: 'Courier Prime', monospace; // A font that resembles typewriter text
$text-color-page: #333;
$border-color-page: #d6d2ce;

body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden; // Hide overflow
}

body {
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(to bottom, $background-color-start, $background-color-end);
    color: $text-color;
    display: flex;
    flex-direction: column;
}

.main-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-height: 100vh; // Prevents vertical scrolling
}

.header,
.footer {
    background-color: $header-footer-color;
    text-align: center;
    padding: 1rem;
    border: 1px solid $accent-color; // Adds a subtle highlight
    border-radius: 10px; // Rounded corners
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1); // Slight transparency to blend with the background
    border: 1px solid $accent-color; // Accentuating the content area
    border-radius: 10px; // Rounded corners
    margin: 1rem 0; // Adds margin to the top and bottom
    overflow: auto; // Allows scrolling within content if necessary
}

.column {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Styling for the image column
.image-column {
    // Your image-specific styles will go here
}

.logo {
    width: 100%;
    max-width: 500px;
    margin-bottom: 1rem;
    border-radius: 10px; // Rounded corners for the logo image
}

// Styling for the button
.button {
    padding: 0.5rem 1rem;
    background-color: $accent-color;
    color: $text-color;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid transparent;
    outline: none;
    border-radius: 10px; // Rounded corners for the button

    &:hover {
        background-color: darken($accent-color, 10%);
        border-color: $text-color;
    }

    &:active {
        transform: translateY(2px);
    }
}

.page {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: $background-color-page;
    font-family: $font-family-page;
    color: $text-color-page;
    border: 1px solid $border-color-page;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px; // Optional: if you want slightly rounded corners
    text-align: justify;
    position: relative; // For positioning the drawing absolutely if necessary
}


.page h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.locations {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Adjust the gap between buttons */
    justify-content: center;
}

.location-button {
    padding: 8px 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;

    &:hover {
        background-color: #e0e0e0;
        border-color: #b0b0b0;
    }
}

// Responsive adjustments if needed
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .column {
        flex-basis: 100%;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}